body
{
	background-color: #3e3b3c;
	font-family: sans-serif;
	font-size : 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
/* BANIERE COOKIES */
.banner
{
	position: relative;
	top : 0px;
	padding: 8px 100px 4px 50px;
	background-color: #1c95c3;
	color: white;
	font-size : 0.9em;;
}
.banner #X 
{
	text-decoration: none;	
	color: white;
	padding-top: 6px;
}
.banner a:link 
{
	color : silver;
}
.banner a:visited 
{
	color : silver;
}
.banner #X 
{
	position: absolute;
	right: 45px;
	top: 0px;
}
/* CORPS PAGE */
#principale 
{
	width : 850px;
	margin : auto;
}
/* ENTETE */
header 
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
}
header h1, header h2 
{
	display: none;
}
header div {
	padding : 0px;
}
#logo-icbig
{
	width: 200px;
	padding:0;
}
#logo-icbig img
{
	width: 170px;
}
#banner
{
	width: 350px;
}
#banner img
{
	padding-top: 17px;
	width : 340px;
}
 #search-menu
{
	width: 250px;
	text-align: right;
}
#search-menu ul
{
	margin-top: 3px;
}
#search-menu li 
{
	display: inline-block;
	padding : 3px;
}

#search-menu a
{
	text-decoration: none;
	font-size: .95em;
	color: white;
}
#recherche
{
	width: 160px;
}
/* PAGE PRINCIPALE ---------------------- */ 
.mainPage 
{
	background-color: white;
}
.mainPage
{
	display: flex;
}
/* MENU NAVBAR --------------------------- */
.menuNavbar
{
	width: 206px;
	
}
.menuNavbar figcaption
{
	color: darkblue;
}
.menuNavbar h2
{
	text-transform: uppercase;
	font-weight: normal;
	margin : 0px;
	padding : 3px 3px 3px 10px;
	width: 200px;
	background-color: #d9f7fb;
	color: #1c65c0 ;
	text-shadow: 0px 1px 0px #214979;
	font-size: 1.1em;
}
.menuNavbar li
{

	list-style-type: none;
}
.menuNavbar ul
{
	padding: 0px;
	margin:3px;
}
.menuNavbar li a
{
	text-decoration: none;
	font-weight: bold;
	color: black;
	background-repeat: no-repeat;
	display: block;
	background-image: url(../img/menu_icons.png);
	border-top: 1px dotted black;
	padding: 8px 0px 8px 40px;
}
/* .menuNavbar li a:nth-last-of-type()
{
	border:none ;
}  */
.menuNavbar li a:hover
{
	background-color:#f1e58b;
}
.menuNavbar ul ul
{
	margin-left: 40px;
}
.menuNavbar ul ul li a
{
	border: none;
	background-image: none;
	font-style: italic;
	padding: 3px;
}
.menuNavbar ul ul li a::before
{
	content: ': ';
}
.menuNavbar figure, .menuNavbar blockquote
{
	margin: 3px;
}
.menuNavbar figure
{
	margin: 20px;
	font-size: 90%;
}
.menuNavbar figcaption
{
	text-align: right;
	padding-right: 3px;
}
/* PAGE CENTRALE ------------------------ */
.centrale
{
	display: flex;
	width: 650px;
	flex-wrap: wrap;
	flex-direction: column;
}
.PartieHautDotted
{
	border:1px dotted black;
	margin : 0 20px;
}
.PartieHautDotted a,#checkbox a
{
	color: #4bb0d3;
}
.breadcrumbs {
	margin-top: 3px;
	padding-left: 20px;
}
.arianeItem
{
	display: inline-block;
}
.arianeItem:not(:last-of-type)::after
{
	content: '>>';
}
.arianeLink 
{
	color : blue;
	font-style: italic;
	text-transform: capitalize;
}
.arianeLink-active
{
	text-decoration: none;
	color: black;
	font-weight: bold;
	
}
.txtIntroFormulaire img
{
	float: left;
	
}
.containFormReseau
{
	display: flex;
	flex-direction: row;
}
.reseauxSoc
{
	border-left: 1px dotted black;
	height: 170px;
}
.reseauxSoc img
{
	width: 200px;
	padding-left: 20px;
	padding-top:10px;
}
.reseauxSoc ul
{
	padding: 0;
}
.reseauxSoc ul li
{
	
	list-style-type: none;
}
.statistics h2 {
	background-color:#ffae01;
	color: white;
	padding : 3px 0px 3px 15px;
	margin : 0px;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: normal;
}

.formulaire /* --------------------------*/
{
	width: 300px;
}
.formulaire form #checkbox
{
	width : 500px;
}
button 
{
	border: none;
	background-color: transparent;
	margin-left: 130px;
}

form p
{
	margin: 5px;
}
form p #pays
{
	width: 153px;
	float: right;
	margin-right:5px;
}
form p #date-naiss
{
	margin-left:15px;
}
.formulaire button img
{
	width: 150px;
}
.formulaire span
{
	font-weight: bold;
	font-style: italic;
}
.cache
{
	display: none;
}
.containBottom
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
table tr .green
{
	color: green;
	font-weight: bold;
}
table tr .red
{
	color: red;
	font-weight: bold;
}

.video 
{
	width : 300px;	
}
.video iframe {
	border: 0;
}
/* TABLEAU */
table
{
	width: 200px;
	border-collapse: collapse;	
	
}
table td:nth-child(odd)
{
	text-align: center;
}
table td:nth-child(even)
{
	text-align: right;
	padding-right: 4px;
}

.tableau {
	width: 200px;
	padding:0;
}
.tableau p 
{
	
	text-align: justify;
	font-size: .84em;
}
.tableau a
{
	float: right;
	color: black;
	padding: 2px;
}
.tableau a img
{
	
	padding : 3px;
	width: 15px;
}
table caption 
{
	border-bottom: 1px solid #000;
}
td,th 
{
	border : 1px solid #000;
}
.ligneEntete
{
	background-color: #b6c8e0;
}
.ligne1, .ligne2, .ligne3
{
	background-color: #d9e1ba;
}
#top3
{
	font-weight: bold;
}
.ligne4, .ligne6
{
	background-color: #e0dcdc;
}
.ligne5
{
	background-color: #c0bcbc;
}

tfoot{
	text-align: center;
	font-style: italic;
	background-color: #c0cce4;
}
/* Footer bas de page */
footer
{
	width: 850px;
	margin-top: 20px;
	border-top: 1px dotted white;
	text-align: center;
}
footer ul
{
	list-style-type: none;
}
footer li 
{
	display: inline-block;
	padding: 0 10px;
}
footer li a 
{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: .9em;
}
footer p
{
	margin: 0;
	color: white;
	font-size: .8em;
}